<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href="./fa.jpg">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="./index.ejs">Home</a>
    </div>
    <div class='form'>
        <fieldset>
            <legend>User Input</legend>
            <div class="input-group">
                <label>Email:</label>
                <input type="text" />
            </div>
            <div class="input-group">
                <label>Name:</label>
                <input type="text" />
            </div>
            <div class="input-group">
                <label>Username:</label>
                <input type="text" />
            </div>
            <div>
                <button>save</button>
            </div>
        </fieldset>


    </div>
</body>

</html>